<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sofia.orth_ch_guide">
    <uses-sdk android:minSdkVersion="21"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.provider.READ_DATABASE"/>
    <uses-permission android:name="com.example.provider.WRITE_DATABASE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListOfAllChurchesByDioceseActivity"/>
        <activity android:name=".TabHostChurch"/>
        <activity android:name=".ListOfClosestChurches"/>
        <activity android:name=".MapOfAll"/>
        <activity android:name=".ChurchesByFete"/>
        <activity android:name=".SearchForChurches"/>
        <activity android:name=".MainActivity"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDOgtGaPqDhhpZfmUNLnt3waRFPUKTM0A"/>


    </application>

</manifest>